{% extends 'template.html' %}
{% block content %}
<script>
  function add(index){
    document.getElementsById(index+'num').value = document.getElementsById(index+'num').value*1+1;
    
  }
    function min(obj){
    document.getElementsById(index+'num').value = document.getElementsById(index+'num').value*1-1;
  }
</script>

<form action="" method="post" class='span4'>
<table class="table table-striped">
	<tr>
		<th>Number</th>
		<th>Product</th>
		<th>Price</th>
	</tr>
	{{storelist}}
	{% for s in storelist %}
	<tr>
		<td>{{s.id}}</td>
		<td>{{s.name}}</td>
		<td>{{s.price}}</td>
		<td>{{s.store}}</td>
		<td>
			<p>
			<input type='text' id='{{s.id}}num' name='{{s.id}}' value='0'>
			<input type="button" id='{{s.id}}' width=50px value="+" onclick="add({{s.id}})">
  			<input type="button" id='{{s.id}}' width=50px value="-" onclick="min({{s.id}})">
  		</p>
		</td>
	</tr>
	{% endfor %}
	
</table>
<input type="submit">
</form>
{% endblock %}