<!DOCTYPE html>
<html>
  <head>
    <title>DHSouvenir Alpha0.2</title>
    <!--<link href="/static/css/icon.css" rel="stylesheet">-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
     <!--<script src="/static/js/blockui.js"></script>
     <link href="/static/css/easydialog.css" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{url_for('main')}}">DHSouvenir</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                       {% if (user and g.user.is_authenticated()) %}
                       <li class="">
                <a href="{{url_for('main')}}">Main Page</a>
              </li>

               <li class="">
                <a href="#"> Welcome, {{user.username}}</a>
              </li>
              <li class="">
              <a href="{{ url_for('cart') }}">My Cart</a>
               </li>
              <li class="">
              <a href="{{ url_for('user', username = g.user.username) }}">Profile</a>
               </li>
               <li class="">
             <a href="{{ url_for('logout') }}">Logout</a>
                   </li>
                {% endif %}

               

             
            </ul>
          </div>
        </div>
      </div>
    </div>

  
    
        

    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    <hr/>
    {% endif %}
    {% endwith %}
    <div class='container'>
        <div class='span12'>
    {% block content %}{% endblock %}

</div>
</div>
  </body>
</html>